name: E2E Test Check
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '.github/**'
      - '.github/workflows/**'
      - 'quickstart/**'

jobs:
  e2e-check:
    runs-on: [self-hosted, 1ES.Pool=terraform-azurerm-doc]
    environment:
      name: acctests
    steps:
      - name: checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3.6.0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v40.2.3
        with:
          dir_names: "true"
          separator: ","
          files: "quickstart/*"
          files_ignore: "**/TestRecord.md"
          dir_names_max_depth: 2
      - name: test pr
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          echo "change files" $ALL_CHANGED_FILES
          az login --identity --username $MSI_ID > /dev/null
          export ARM_SUBSCRIPTION_ID=$(az login --identity --username $MSI_ID | jq -r '.[0] | .id')
          export ARM_TENANT_ID=$(az login --identity --username $MSI_ID | jq -r '.[0] | .tenantId')
          export CHANGED_FOLDERS="${{ steps.changed-files.outputs.all_changed_files }}"
          docker run --rm -v $(pwd):/src -w /src/test --network=host -e MSI_ID -e ARM_SUBSCRIPTION_ID -e ARM_TENANT_ID -e ARM_USE_MSI=true -e CHANGED_FOLDERS mcr.microsoft.com/azterraform:latest sh -c "go mod tidy && go test -timeout=360m -v ./e2e"
      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 #v3.1.3
        with:
          name: TestRecord-${{ github.event.number }}
          retention-days: 60
          path: |
            quickstart/**/TestRecord.md.tmp
